*, *::after, *::before{
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: $background;
}

.contenedor{
    width: $contenedor;
    margin: 0 auto;
}

img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

a{
    text-decoration: none;
    color: $texto;
    cursor: pointer;
}

.navegacion .navegacion__enlaces .enlace.active{
    color: $acento;
}

p, a, h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
}

h1{
    color: $blanco;
    font-size: 4.8rem;
}

h1, h2, h3{
    font-weight: 600;
}

p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.header{
    width: 100%;
}


