$texto: #232323;
$secundario: #FBBD4A;
$acento: #EE2A7B;
$celeste: #6EB8AF;
$error: #ED0131;
$grid01: #474A57;
$grid02: #969BAB;
$grid03: #D9DBE1;
$grid04: #F8FAFC;
$blanco: #FFFFFF;
$background: #ffffff;

$contenedor: min(112rem, 90%);