$texto: #232323;
$secundario: #FBBD4A;
$acento: #EE2A7B;
$celeste: #6EB8AF;
$error: #ED0131;
$gris01: #474A57;
$gris02: #969BAB;
$gris03: #D9DBE1;
$gris04: #F8FAFC;
$blanco: #FFFFFF;
$background: #ffffff;

$contenedor: min(112rem, 90%);
