.seccion{
    display: flex;
    padding: 7.5rem 9rem;
    //Luego indicar la separacion entre las columnas
    column-gap: 2rem;
    .seccion__parrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 50%;
        //Puede cambiar el ancho, agregando una nueva clase. EJEMPLO parrafo--nostros, flex: 0 0 30rem
        h3{
            font-size: 2.5rem;
        }
        p{
            padding: 1.5rem 0;
        }
    }
    .seccion__media img{
        //Luego se puede cambiar el ancho de la img, agregando una nueva clase
        width: 100%;
        border-radius: 16px;
    }
}