.footer{
    height: 7.2rem;
    background-color: $secundario;
    width: 100%;
    .footer__column{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 1.2rem;
            color: $gris01;
        }
    }
    .redes__icon{
        display: flex;
        column-gap: 1rem;
    }
    .icon--red{
        position: relative;
        height: 2.4rem;
        width: 2.4rem;
        color: $gris01;
        background-color: #f8c669;
        border-radius: 50%;
        i{
            font-size: 1.4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 375px) {
    .footer{
        height: 13rem;
        .footer__column{
            flex-direction: column-reverse;
            justify-content: center;
            row-gap: 1rem;
        }
    }
}