.cuadricula{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(26.9rem, 1fr) );
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.5rem;
    column-gap: 1.5rem;
    img{
        width: 100%;
        height: 30rem;
        border-radius: 16px;
        cursor: pointer;
    }
}

@media (max-width: 300px) {
    .cuadricula{
        grid-template-columns: 1fr;
    }
}