.seccion--nosotros{
    column-gap: 2rem;
}
.media--nosotros{
    height: 41.4rem;
}

@media (max-width: 860px) {
    .seccion--nosotros{
        .media--nosotros{
            height: 53rem;
        }
        .media--nosotros img{
            margin-bottom: 2rem;
            width: 100%;
        }
    }
}